.l-sloggan {
  padding: 36px 0px 220px 65px;
}

.l-programme {
  padding-top: 505px;
  padding-left: 81px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.l-programme h2 {
  font-size: 60px;
  padding-bottom: 38px;
}

.l-programme h3 {
  font-size: 40px;
  padding-top: 81px;
  padding-bottom: 50px;
}

.l-expositions {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.l-intro {
  padding-top: 502px;
  padding-left: 764px;
}

.l-art-algorithmique {
  padding-top: 20px;
  padding-left: 62px;
}

.l-art-algorithmique h2 {
  padding-bottom: 35px;
}
