.l-sloggan {
  padding: 36px 0px 140px 65px;
}

.l-logo {
  padding-left: 65px;
  margin-top: -42px;
  padding-bottom: 75px;
}

.l-trailer {
  padding-top: 324px;
  text-align: end;
  padding-right: 60px;
}

.l-artistes {
  font-family: "Roboto", sans-serif;
  color: white;
  padding-left: 80px;
  padding-top: 118px;
}

.l-artistes h2 {
  color: white;
  padding-bottom: 188px;
}

.l-Kinetic {
  margin-bottom: -60px;
}

.l-Neon-Pulse {
  padding-left: 689px;
}

.l-Min-Jae-Park {
  margin-top: -60px;
}

.l-languages :hover {
  border-radius: 50px;
  padding: 5px;
  background-color: rgb(82, 128, 113);
  color: white;
}

.l-papillons {
  padding-left: 800px;
  margin-bottom: -1800px;
}

.l-programme {
  padding-top: 516px;
  padding-left: 80px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.l-programme h2 {
  font-size: 60px;
  padding-bottom: 28px;
}

.l-programme h3 {
  font-size: 40px;
  padding-top: 81px;
  padding-bottom: 50px;
}

.l-expositions {
  padding-bottom: 454px;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.l-expositions h2 {
  font-size: 60px;
  color: white;
}

.l-intro {
  padding-top: 502px;
  padding-left: 764px;
}

.l-art-algorithmique {
  padding-top: 20px;
  padding-left: 62px;
}

.l-art-algorithmique h3 {
  font-size: 40px;
  padding-bottom: 35px;
}

.l-expo-immersive {
  margin-top: -80px;
  padding-left: 691px;
}

.l-expo-immersive h3 {
  font-size: 40px;
  padding-bottom: 35px;
}

.l-interfaces-experomentales {
  margin-top: -40px;
  padding-left: 62px;
}

.l-interfaces-experomentales h3 {
  font-size: 40px;
  padding-bottom: 35px;
}

.l-infos-pratiques {
  padding-bottom: 373px;
  color: white;
}

.l-infos-pratiques h2 {
  font-weight: lighter;
  font-size: 60px;
  padding-left: 101px;
}

.l-cart img {
  padding-top: 50px;
  margin-bottom: -280px;
  padding-left: 103px;
}

.l-cart p {
  font-size: 20px;
  padding-left: 155px;
  font-family: "Roboto", sans-serif;
}

.l-cart h3 {
  font-weight: lighter;
  font-size: 40px;
  padding-left: 155px;
  padding-bottom: 32px;
  font-family: "Roboto", sans-serif;
}

.l-cart-2 {
  padding-top: 76px;
}

.l-cart-2 img {
  padding-top: 50px;
  margin-bottom: -280px;
  padding-left: 103px;
}

.l-cart-2 p {
  font-size: 20px;
  padding-left: 155px;
  font-family: "Roboto", sans-serif;
}

.l-cart-2 h3 {
  font-weight: lighter;
  font-size: 40px;
  padding-left: 155px;
  padding-bottom: 32px;
  font-family: "Roboto", sans-serif;
}

.l-cart-3 {
  margin-top: -630px;
  padding-left: 690px;
}

.l-cart-3 img {
  padding-top: 50px;
  margin-bottom: -280px;
  padding-left: 103px;
}

.l-cart-3 p {
  font-size: 20px;
  padding-left: 155px;
  font-family: "Roboto", sans-serif;
}

.l-cart-3 h3 {
  font-weight: lighter;
  font-size: 40px;
  padding-left: 155px;
  padding-bottom: 32px;
  font-family: "Roboto", sans-serif;
}

.l-cart-4 {
  padding-top: 76px;
  padding-left: 690px;
}

.l-cart-4 img {
  padding-top: 50px;
  margin-bottom: -280px;
  padding-left: 103px;
}

.l-cart-4 p {
  font-size: 20px;
  padding-left: 155px;
  font-family: "Roboto", sans-serif;
}

.l-cart-4 h3 {
  font-weight: lighter;
  font-size: 40px;
  padding-left: 155px;
  padding-bottom: 32px;
  font-family: "Roboto", sans-serif;
}

.l-Partenaires {
  padding-bottom: 300px;
}

.l-Partenaires h2 {
  color: white;
  font-size: 60px;
  padding-left: 60px;
  padding-bottom: 93px;
}

.l-eikon {
  size: 30px;
  padding-left: 63px;
}

.l-etat-fribourg {
  padding-top: 75px;
  padding-left: 63px;
}

.l-frisson {
  padding-left: 533px;
  margin-top: -370px;
}

.l-loterie {
  padding-top: 75px;
  padding-left: 533px;
}
